html{
    height: 100%;
    width: 100%;
    margin: 0px;
}

body {
    height: 100%;
    width: 100%;
    margin: 0px;
    background-color: #e0e0e0;
}

.wrapper {
    height: 100%;
    width: 100%;
}

header {
    background-color: rosybrown;
}

footer {
    background-color: rosybrown;
}

#logo {
    height: 60px;
    width: 60px;
}

.smicons {
    height: 20px;
    width: 22px;
}