html {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #e0e0e0;
  font-family: "Ubuntu", sans-serif;
  overflow: auto;
  bottom: 100px;
}

.wrapper header {
  background-color: rosybrown;
  align-items: center;
  vertical-align: middle;
  padding-right: 20px;
  padding-left: 20px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  position: sticky;
  display: flex;
  justify-content: space-between;
}

footer {
  background-color: rosybrown;
  align-items: center;
  vertical-align: middle;
  width: 100%;
  position: fixed;
  top: auto;
  bottom: 0;
  display: flex !important;
  justify-content: space-between;
  z-index: 1;
}

.wrapper {
  width: 100%;
  top: 50px;
  bottom: 50px;
}

#logo {
  height: 60px;
  width: 60px;
}

#contact-btn {
  color: black;
  text-decoration: none;
  margin: 15px;
  display: inline-block;
}

.social {
  margin: 15px;
  display: inline-block;
}

#smicons {
  height: 20px;
  width: 22px;
}

.modal-header,
h4,
.close {
  text-align: left;
  font-size: 30px;
}
.modal-footer {
  background-color: white;
  text-align: left;
}
.modal-backdrop.show {
  opacity: 0;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 0;
  height: 0;
  background-color: #000;
}

.modal-body form {
  text-align: center;
}
