#hotel_images {
    height: 250px;
    width: 300px;
    align-self: flex-start;
    display: block;
}

.hotel {
    margin: 2%;
    width: 50%;
    height: auto;
    background-color: lightgrey;
    display: flex;
    flex: 30%; 
}

#list-view {
    display: flex;
    flex-wrap: wrap;
}

#map-view {
    height: 100px;
}

main nav {
    text-align: center;
}

.view{
    list-style: none;
}

#views {
    display: inline-block;
    margin: 20px 20px;
    
}

#views a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.hotel a{
    color: black;
    text-decoration: none;
}

.info {
    flex: 1 1 auto;
    margin: 2%;
}

