


.hotel_images {
    height: 250px;
    width: 300px;
    align-self: flex-start;
}

.hotel {
    margin: 2%;
    width: 45%;
    height: auto;
    background-color: lightgrey;
    display: flex;
}

#list-view {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

#map-view{
    text-align: center;
}
main nav {

    margin-top: 2%;
}

.view{
    list-style: none;
}

#views {
    display: inline-block;
    margin: 20px 20px;
    
}

#views a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.hotel a{
    color: black;
    text-decoration: none;
}

.info {
    flex: 1 1 auto;
    margin: 2%;
}

.hotel:hover {
    background-color: rosybrown;
}

button:active{
    border: none;
}


button {
    border: none;
    background-color: #e0e0e0;
}

nav ul{

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 0;
    list-style: none;
}

nav li{
    background-color: transparent;
}

.checked {
    color: orange;
}

#half {
    color: orange
    
}

@media only screen and (max-width: 768px) {

    #list-view {
        flex-direction: column;
        padding-bottom: 40%;
    }
    #map-view{
        max-width: 768px;
    }
    #map-view img{
        width: 90%;
    }

    .hotel {
        margin: 2% auto;
        width: 90%;
        height: auto;
    }

}

@media only screen and (max-width: 576px) {

    #list-view {
        padding-bottom: 40%;
    }

    .hotel {
        flex-direction: column;
    }

    .hotel img {
        width: 100%;
        margin: 0 auto;
        height: 2%;
    }

}